:root { --elcom-blue: #005ABB; --elcom-white: #FFFFFF; --elcom-dark: #011B4D; --elcom-black: #101010; --elcom-green: #5BDE84; --elcom-extra-dark: #343434; --elcom-dark-gray: #7B7B7B; --elcom-grey: #A1A1A1; --elcom-light-gray: #D6D6D6; --elcom-white-20: rgba(255, 255, 255, 0.30); --elcom-bg-white: #f2f2f2; --elcom-bg-black: #000000; --elcom-bg-blue: #041E49; --elcom-bg-dark-gray: #D9D9D9;}

* { box-sizing: border-box; padding: 0; margin: 0; } 

html,
body { max-width: 100vw; height: 100vh; font-family: 'Inter Tight'; color: #101010; }

/* == default-btn-css == Start */

.container { padding-left: 16px; padding-right: 16px; } 

.row { margin-left: -16px; margin-right: -16px; } 

[className*="col-"] { padding-left: 16px; padding-right: 16px; } 

@media (min-width:1440px){
 .container { width: 1342px ; max-width: 1342px; margin: 0 auto;} 
 }

 @media (min-width:1920px){
  .container { width: 1824px; max-width: 1824px; margin: 0 auto;} 
  }
      

  .flxrow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.flxfix {
	-ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}
.flxflexi {
	-ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    position: relative;
}
.flxcol {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

ul {margin: 0; padding: 0;}
ul li {margin: 0; padding: 0; list-style: none; text-decoration: none;}

/* Default btn */

.border-btn { display: flex; align-items: center; justify-content: center; border: 1px solid #ffffff; color: #ffffff; font-size: 14px; font-weight: 400; height: 60px; padding: 0 44px; border-radius: 100px; text-transform: uppercase; }
.border-btn.blue-fill { border: none; background-color: #0071E3; }

/* Default btn */

/* header start */
.navLogo {position: relative;}
.navLogo a {display: flex;}
.navigationBar {width: 100%; position: fixed; top: 0; left: 0; z-index: 100;}
.navigationBar .navWrap {width: 100%; padding: 16px 0 ;}
/* .navigationBar .navWrap .container {max-width: 1920px; width: 100%;} */
/* .navigationBar .navWrap .container {max-width: 1408px !important; width: 100% !important;} */
.navigationBar .navWrap .navBar {display: flex; justify-content: space-between; align-items: center; padding: 15px 48px; border-radius: 8px; background: rgba(255, 255, 255, 0.60); backdrop-filter: blur(100px);} 
.navigationBar .navWrap .navInner {position: relative;}
.navigationBar .navWrap .navInner > ul {display: flex;}
.navigationBar .navWrap .navInner > ul > li {display: block;}
.navigationBar .navWrap .navInner > ul > li a { text-decoration: none; color: var(--Primary-Black, #101010); font-size: 16px; font-weight: 500; line-height: 16px; text-transform: capitalize; transition: all ease-in-out 0.3s; height: 32px; display: flex; justify-content: center;align-items: center; border-radius: 100px; padding: 0 16px; font-family: 'Inter Tight';}
.navigationBar .navWrap .navInner > ul > li a:hover{background-color: #101010; color: #FFFFFF;}
.navigationBar .navWrap .navInner > ul > li:not(:last-child){margin-right: 32px;}
.navigationBar .navWrap .navBtn {position: relative; margin: 0;}
.navigationBar .navWrap .navBtn > ul {display: flex; gap: 30px; align-items: center;}
.navigationBar .navWrap .navBtn > ul > li {padding: 0; display: block;} 
.navigationBar .navWrap .navBtn > ul > li a {text-decoration: none; color: var(--Primary-Black, #101010); font-size: 16px; font-weight: 500; line-height: 16px; text-transform: capitalize; font-family: 'Inter Tight';}
.navigationBar .navWrap .navBtn > ul > .buyNow {display: flex; margin: 0;}
.navigationBar .navWrap .navBtn > ul > .buyNow a {display: flex; align-items: center; justify-content: center; background-color: #0071E3; height: 34px; border-radius: 100px; padding: 0 20px; color: #FFF; text-decoration: none; text-transform: uppercase; font-weight: 500; font-size: 14px; letter-spacing: 0.7px;font-family: 'Inter Tight'; transition: all ease-in-out 0.3s; }
.navigationBar .navWrap .navBtn > ul > .buyNow a:hover{background-color: #101010;}
/* header end */

/* footer start */
.footerNav {width: 100%; padding-bottom: 16px;}
.footerNav .footerBar {position: relative;}
.footerNav .footerBar .footerSec {display: flex; justify-content: space-between; align-items: center; background-color: #101010; padding: 23px 48px; border-radius: 8px;}
.footerBar .footerSec .nameSec {position: relative;}
.footerBar .footerSec .nameSec span {display: block; font-size: 12px; color: #D6D6D6; line-height: 16px; font-family: "Inter Tight"; font-weight: 500;}
.footerBar .footerSec .webLink {position: relative;}
.webLink ul {display: flex;}
.webLink ul li:not(:last-child) {margin-right: 20px;}
.footerBar .footerSec .webLink a {font-size: 12px; color: #D6D6D6; line-height: 16px; text-decoration: none; font-family: "Inter Tight"; font-weight: 500; display: flex; text-transform: capitalize;}
.footerBar .footerSec .socialLink {position: relative;}
.footerBar .footerSec .socialLink ul {display: flex;}
.footerBar .footerSec .socialLink ul li {display: block; margin: 0; padding: 0;}
.footerBar .footerSec .socialLink ul li:not(:last-child) {margin-right: 31px;}
.footerBar .footerSec .socialLink ul li a {text-decoration: none; transition: all ease-in-out 0.3s; display: flex;}
.footerBar .footerSec .socialLink ul li a svg {color: #A1A1A1; transition: all ease-in-out 0.3s;}
.footerBar .footerSec .socialLink ul li a:hover svg{color: #FFF;}
/* footer end */

/* banner start */
.brackerwrap {background-color: #f4f4f4; width: 100%; padding: 86px 0 0; height: 100vh;}
.brackerwrap .brackerInner {padding: 120px 0 0; position: relative; height: 100%; width: 100%; overflow: hidden;}
.brackerwrap .brackerdtl { text-align: center; max-width: 705px; margin: 0 auto; }
.brackerwrap .container { position: relative; z-index: 1; }
.brackerwrap .brackerleft { position: absolute; left: 0; bottom: 0; pointer-events: none; }
.brackerwrap .brackerleft img {width: 100%; } 
.brackerwrap .brackerright img {width: 100%; }
.brackerwrap .brackerright { position: absolute; right: 0; pointer-events: none; bottom: 0; } 
.brackerdtl h1 {font-size: 64px; color: #101010; padding-bottom: 30px; margin: 0; font-family: 'Inter Tight';font-weight: 600;}
.brackerdtl p {font-size: 20px; line-height: 28px; color: #6F6F6F; margin: 0; font-family: 'Inter Tight'; font-weight: 400; }
.brackerdtl .btnbox {display: flex; justify-content: center; align-items: center; margin-top: 30px;}
.brackerdtl .btnbox a {text-decoration: none; font-size: 14px; color: #FFFFFF; line-height: 16px; letter-spacing: 2.1px; text-transform: uppercase; height: 60px; display: flex; justify-content: center; align-items: center; padding: 0 44px; background-color: #0071E3; border-radius: 100px; font-family: 'Inter Tight'; font-weight: 500; transition: all ease-in-out 0.3s;}
.brackerdtl .btnbox a:hover{background-color: #101010;}

/* banner end */
.mobileText {display: none;}

/* PriceSec start */
.priceImg {margin: 120px 0;}
.priceImg .priceWrapper .row .col-xl-1 {padding: 0;}
/* .priceSwiper .swiper-wrapper {flex-direction: column; gap: 12px;} */
.priceSwiper .thumbBox {border-radius: 4px;background: #f4f4f4; width: 100%; display: flex; justify-content: center; align-items: center; position: relative; border-radius: 4px; overflow: hidden;}
.priceSwiper .thumbBox::before { content: ''; display: block; width: 100%; padding-top: 100%;}
.priceSwiper .thumbBox img { width: 100%; height: 100%; position: absolute; left: 0; top: 0; object-fit: contain;}
.pricefullImg { min-height: 563px; display: flex; align-items: center; justify-content: center; border-radius: 8px; position: relative;}
.switer_btn {position: absolute; bottom: 80px; right: 32px; display: flex; gap: 10px; z-index: 10;}
.switer_btn .group { border: none; background-color: #FFF; width: 40px; height: 40px; border-radius: 50px;}

.thumbfullBox {display: flex; justify-content: start; align-items: center; height: 100%; }
.thumbfullBox img {display: flex; justify-content: start; align-items: center; width: 100%;}
.swiper-button-prev,
.swiper-button-next {left: 0 !important; top: 100% !important;}

.priceList {position: relative; max-width: 339px; margin: 0 auto;}
.priceList .headSec {padding-bottom: 32px;}
.priceList .headSec h4 {color: var(--Primary-Black, #101010); font-family: "Inter Tight"; font-size: 24px; font-weight: 600; line-height: 32px; margin: 0; padding-bottom: 16px;}
.priceList .headSec span {color: var(--Primary-Blue, #005ABB); font-family: "Inter Tight"; font-size: 24px; font-weight: 600; line-height: 32px;}
.colorQun {display: flex; gap: 45px; flex-wrap: wrap;}
.colorQun .colorSec { }
.difBtn {position: relative;}
.difBtn label {position: relative; display: block; cursor: pointer;}
.difBtn label [type="radio"] {position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0; visibility: hidden;} 
.difBtn span {position: relative; display: flex; justify-content: center; align-items: center; width: 30px; height: 30px; border-radius: 50%;}
.difBtn label [type="radio"]:checked + span::after { content: ''; position: absolute; left: -3px; top: -3px; width: 36px; height: 36px; border: 2px solid #0071E3; border-radius: 100%; }
/* .difBtn label [type="radio"] + span::before { content: ''; width: 30px; height: 30px; background: #f2f2f2; display: block; border-radius: 100%; transition: all 0.2s ease;} */


        

        

.colorQun .colorSec .textBlog {display: block; color: var(--Greys-300, #7B7B7B); font-family: "Inter Tight"; font-size: 14px; font-weight: 500; line-height: 16px; letter-spacing: 2.1px; text-transform: uppercase; margin-bottom: 20px;}
.colorQun .colorSec .difColor {display: flex; position: relative; height: 36px; width: 36px; border: 1px solid #005ABB; border-radius: 50%; justify-content: center; align-items: center;}
.colorBtn {display: flex; gap: 20px;}
.colorQun .colorSec .difColor::after{position: absolute; content: ''; width: 30px; height: 30px; background-color: #f4f4f4; border-radius: 50%; display: flex; align-items: center; justify-content: center;}
.colorQun .textBlog { display: block; color: var(--Greys-300, #7B7B7B); font-family: "Inter Tight"; font-size: 14px; font-weight: 500; line-height: 16px; letter-spacing: 2.1px; text-transform: uppercase; margin-bottom: 20px;}
.qunBtn {height: 36px; border: 1px solid #101010; border-radius: 50px; display: flex;}
.qunBtn .btn {}
.qunBtn input {border: none !important; text-align: center; display: flex; justify-content: center; align-items: center;}
.qunBtn .btn .solidMinus{position: relative;}
.qunBtn .btn .solidPlus {position: relative;}

.buyNow{display: flex; margin-top: 40px;}
.buyNow .buybtn {color: var(--Primary-White, #FFF); font-family: "Inter Tight"; font-size: 14px;
font-weight: 500; line-height: 16px; letter-spacing: 2.1px; text-transform: uppercase; height: 60px; border: none; background-color: #0071E3; padding: 0 123px; border-radius: 100px; transition: all ease-in-out 0.3s;}
.buyNow .buybtn:hover {background-color: #101010;}

.warrantySec {margin-top: 31px; display: flex; gap: 32px;}
.warrantySec .flagSec {}
.warrantySec .flagSec ul {display: flex; align-items: center; gap: 7px;}
.warrantySec .flagSec ul li {display: block; margin: 0; padding: 0;}
.warrantySec .flagSec ul li i {display: flex;}
.warrantySec .flagSec ul .mii {color: #000000; font-size: 16px; font-weight: 400; font-family: "Inter Tight";}
.warrantySec .warGrp {}
.warrantySec .warGrp ul {display: flex; align-items: center;gap: 7px;}
.warrantySec .warGrp ul li {display: block; margin: 0; padding: 0;}
.warrantySec .warGrp ul li i {}
.warrantySec .warGrp ul .corr {color: #000000; font-size: 16px; font-weight: 400; font-family: "Inter Tight";}
.productContent {margin-top: 33px;}
.productContent p {color: var(--Primary-Black, #101010); font-family: "Inter Tight"; font-size: 16px; font-weight: 400; line-height: 24px;}
.productContent span {color: var(--Primary-Blue, #005ABB); font-family: "Inter Tight"; font-size: 16px; font-weight: 600; line-height: 24px; text-decoration-line: underline;}
.productDetail {margin-top: 92px;}
.productDetail > ul {display: flex; justify-content: center; position: relative;} 
.productDetail > ul > li {display: block; position: relative; padding: 12px 48px;}
.productDetail > ul > li:not(:first-child) {border-left: 1px solid #D6D6D6;}
/* .productDetail > ul > li::after{position: absolute; content: ''; height: 100%; width: 1px; background-color: #D6D6D6; left: -50%; top: 0;}
.productDetail > ul > li:first-child:after{display: none;} */
.productDetail > ul > li .title {display: block; color: var(--Greys-300, #7B7B7B); font-family: "Inter Tight"; font-size: 14px; font-weight: 500; line-height: 16px; letter-spacing: 2.1px;
text-transform: uppercase; padding-bottom: 20px;}
.productDetail > ul > li .value {color: var(--Primary-Black, #101010); font-family: "Inter Tight";
font-size: 24px; font-weight: 600; line-height: 32px; display: block;} 



.stripWrap {margin: 120px 0;}
.stripSec .row {row-gap: 40px;}
.stripHead {text-align: center; padding-bottom: 40px;}
.stripHead h3 {color: var(--Primary-Black, #101010); font-family: "Inter Tight"; font-size: 48px;
font-weight: 600; line-height: 56px;}

.stripImg:hover .stripText span{color: #005ABB;}
.stripImg .stripBox {border-radius: 8px; background: #f2f2f2; min-height: 315px; display: flex; align-items: center;}
.stripImg .stripBox img {display: flex; justify-content: center; align-items: center; width: 100%; min-height: 100%; height: 100%;}
.stripImg .stripText { margin-top: 20px;}
.stripImg .stripText span {display: block; color: var(--Primary-Black, #101010); font-family: "Inter Tight"; font-size: 20px; font-weight: 600; line-height: 28px; transition: all ease-in-out 0.3s;}
.colorQun .colorSec .textBlog {font-size: 12px; margin-bottom: 23px;} 

.insightWrap {margin: 120px 0;}
.insightWrap .insightSec {position: relative;}
.insightWrap .insightSec .row {row-gap: 32px;} 
.insightWrap .insightSec .insightHead {text-align: center; padding-bottom: 40px;}
.insightWrap .insightSec .insightHead h3 {color: var(--Primary-Black, #101010); font-family: "Inter Tight"; font-size: 48px; font-weight: 600; line-height: 56px;}
.insightWrap .insightSec .insightBox {width: 100%; min-height: 100%; overflow: hidden; display: flex;
flex-direction: column; background: #F4F4F4; margin: 0px; padding: 0px; border-radius: 8px;}
.insightWrap .insightSec a {text-decoration: none; transition: all ease-in-out 0.3s; overflow: hidden;}
.insightWrap .insightSec .boxImage{ overflow: hidden; object-fit: cover; transition: all ease-in-out 0.3s;}
.insightWrap .insightSec a:hover .boxImage img {transform: scale(1.1);} 
.insightWrap .boxImage {width: 100%; min-height: 278px; display: inline-block; vertical-align: top;
background-position: center center; background-size: cover; transition: all ease-in-out 0.3s; overflow: hidden; object-fit: cover;}
.insightWrap .boxImage img {width: 100%; overflow: hidden; transition: all ease-in-out 0.3s;}
.insightWrap .insightSec .insightBox .boxText { width: 100%; display: -ms-flexbox;
display: flex; -ms-flex-direction: column; flex-direction: column; -ms-flex: 1 1 auto; flex: 1 1 auto; padding: 24px 32px 32px 32px;}
.insightWrap .insightSec .insightBox .boxText .lebalText {display: flex; margin-bottom: 8px;flex-wrap: wrap; row-gap: 10px; }
.insightWrap .insightSec .insightBox .boxText .lebalText span {color: #FFF; font-family: "Inter Tight"; font-size: 12px; font-weight: 500; line-height: 12px; letter-spacing: 1.8px; text-transform: uppercase; background-color: #101010; padding: 4px 8px; }
.insightWrap .insightSec .insightBox .boxText .lebalText span:not(:last-child) { margin-right: 10px;}
.insightWrap .insightSec .insightBox .boxText h5 {color: var(--Primary-Black, #101010); font-family: "Inter Tight"; font-size: 20px; font-style: normal; font-weight: 600; line-height: 28px; margin: 0 0 34px 0;}
.insightWrap .insightSec .insightBox .btnbox {width: 100%; display: block; margin: auto 0 0 0; padding: 0px;}
.insightWrap .insightSec .insightBox .btnbox span {color: var(--Primary-Blue, #005ABB); font-family: "Inter Tight"; font-size: 16px; font-weight: 600; line-height: 24px; text-decoration-line: underline; text-underline-offset: 4px; display: block;}
.insightSec .boxbtn {display: flex; justify-content: center; margin-top: 64px;}
.insightSec .boxbtn a {color: var(--Primary-White, #FFF); font-family: "Inter Tight"; font-size: 14px; font-weight: 500; line-height: 16px; letter-spacing: 2.1px; text-transform: uppercase; border-radius: 100px; background: #0071E3; height: 60px; padding: 0 44px; text-decoration: none; display: flex; align-items: center; justify-content: center; transition: all ease-in-out 0.3s;}
.insightSec .boxbtn a:hover{background-color: #101010;}
.questionWrap {margin: 120px 0 80px;}
.questionWrap .accordianWrap {position: relative; width: 100%;}
.questionWrap .accordianWrap .accordianHead {margin-bottom: 64px; text-align: center;}
.questionWrap .accordianWrap .accordianHead h3 {color: var(--Primary-Black, #101010); font-family: "Inter Tight"; font-size: 48px; font-weight: 600; line-height: 56px; margin: 0;}
/* .questionWrap .accordianWrap .accordionSec { border-top: 1px solid #A1A1A1;} */
.questionWrap .accordianWrap .accordionSec .accordionGrp {border-bottom: 1px solid #A1A1A1;;}
.questionWrap .accordianWrap .accordionSec button.accordion { width: 100%; border: none; outline: none; text-align: left; padding: 40px; cursor: pointer; color: var(--Greys-300, #7B7B7B);
font-family: "Inter Tight"; font-size: 24px; font-weight: 600; line-height: 32px; background-color: transparent;}
.questionWrap .accordianWrap .accordionSec .accordion-content {}
.questionWrap .accordianWrap .accordionSec .accordion-content p {padding: 20px 40px 40px 40px; color: var(--greys-400-body-text, #343434); font-family: "Inter Tight"; font-size: 20px; font-weight: 400; line-height: 28px; margin: 0;}

.accordion-button:focus {box-shadow: none;}
.accordion-button:not(.collapsed) {background-color: transparent; box-shadow: none;}
.accordion-button {position: relative; width: 100%; border: none; outline: none; text-align: left; padding: 40px; cursor: pointer; color: var(--Greys-300, #7B7B7B) !important; font-family: "Inter Tight"; font-size: 24px; font-weight: 600; line-height: 32px; background-color: transparent;}
.accordion-body {padding: 0 40px 40px 40px; color: var(--greys-400-body-text, #343434); font-family: "Inter Tight"; font-size: 20px; font-weight: 400; line-height: 28px; margin: 0; max-width: 712px;}
.accordion-button::after {background: #101010; width: 24px; background-image: none !important; height: 1px; transition: none !important;}
.accordion-button::before{background: #101010; width: 1px; background-image: none !important; height: 24px; position: absolute; content: '';  margin-left: auto; right: 51px; transition: none !important;}
.accordion-button:not(.collapsed)::after{display: block !important;}
.accordion-button:not(.collapsed)::before{display: none;}
/* .accordion-item{border-top: 1px solid #A1A1A1 !important;} */
.accordion-item { border: none !important; }
.accordion-item ~ .accordion-item { margin-top: -1px; }
.accordion-flush > .accordion-item:hover:first-child{border: none;}
.accordion-item .accordion-button { border-top: 1px solid #A1A1A1; }
.accordion-item:last-child .accordion-button {border-bottom: 1px solid #A1A1A1;}
.accordion-item:has(.show) + .accordion-item .accordion-button:not(:hover) {
  border-top-color: #A1A1A1 !important;
}

.accordion-item:last-child .accordion-button:not(.collapsed) { border-bottom-color: transparent; }
.accordion-item:last-child .accordion-collapse {border-bottom: 1px solid #A1A1A1; margin-bottom: 1px; }
/* .accordion-flush > .accordion-item > .accordion-collapse {border-bottom: 1px solid #A1A1A1 !important;margin-bottom: 1px;} */
.accordion-item .accordion-button:hover { border-color: transparent !important; }
.accordion-item:hover + .accordion-item .accordion-button { border-top-color: transparent !important; }
.accordion-header {transition: all ease-in-out 0.3s;}
.accordion-header:hover{border-radius: 8px; background: var(--Primary-Blue, #005ABB);}
.accordion-header:hover .accordion-button {color: #FFFFFF !important;}
.accordion-header:hover .accordion-button::after,
.accordion-header:hover .accordion-button::before{background-color: #FFFFFF;}
/* .accordion-flush > .accordion-item:last-child{border-top: 1px solid #A1A1A1 !important;} */
.accordion-item:hover{border-radius: 8px; border-color: #005ABB;}
.accordion-header:hover .accordion-button:not(.collapsed){background-color: transparent; } 
.accordion-button:not(.collapsed){color: #101010 !important;}

.benefitWrap {margin: 120px 0;}
.benefitWrap .benefitGrp {position: relative; width: 100%;}
.benefitHead {text-align: center;}
.benefitHead h3 { font-size: 180px; font-weight: 500; background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 0%, rgba(16, 16, 16, .8) 90%); background-clip: text; color: transparent;
-webkit-background-clip: text; font-family: "Inter Tight"; margin: 0;  }
.benefitsecBox {margin-top: -72px;}
.benefitBox {border-radius: 8px; background: linear-gradient(180deg, #101010 -10.69%, #FFF 170.25%), #F4F4F4; padding: 32px 32px 57px 32px; display: flex; flex-direction: column; justify-content: center;  height: 100%;}
.benefitBox .benefitText {position: relative; margin: 0;padding-bottom: 40px;}
.benefitBox .benefitText .lebalText {display: block; color: var(--Secondary-Green, #5BDE84);
font-family: "Inter Tight"; font-size: 14px; font-style: normal; font-weight: 500; line-height: 16px; letter-spacing: 2.1px; text-transform: uppercase; padding-bottom: 20px;}
.benefitBox .benefitText h5 {color: var(--Primary-White, #FFF); font-family: 'Inter'; font-size: 24px; font-weight: 600; line-height: 32px;  margin: 0;}
.benefitBox .benefitImg {max-width: 150px; display: flex; justify-content: center; align-items: center; margin: 0 auto;}
/* .benefitBox .benefitImg img {display: flex; width: 100%; height: 100%;} */

.reviewBox {background-color: #f2f2f2; padding: 120px 0 251px; overflow: hidden;}
.reviewBox .reviewSlider {margin-top: -72px; position: relative;}
.box_slider {border-radius: 8px; background: var(--Primary-White, #FFF); padding: 32px; }
.box_slider .text_box_slider {padding-bottom: 32px;}
.box_slider .text_box_slider span {display: block; color: var(--Greys-300, #7B7B7B); font-family: "Inter Tight"; font-size: 14px; font-weight: 500; line-height: 16px; letter-spacing: 2.1px; text-transform: uppercase;}
.box_slider .text_slider_dtl span {color: #005ABB; font-family: "Inter Tight"; font-size: 16px;
  font-style: normal; font-weight: 500; line-height: 24px; text-decoration-line: underline;}
.box_slider .text_slider_dtl p {color: var(--greys-400-body-text, #343434); font-family: "Inter Tight"; font-size: 16px; font-weight: 400; line-height: 24px; }
.box_slider .text_slider_dtl p a {color: #005ABB; font-family: "Inter Tight"; font-size: 16px;
font-style: normal; font-weight: 500; line-height: 24px; text-decoration-line: underline;}
.slick-dots {text-align: left !important; left: 180px; bottom: -106px !important;} 
.slick-prev {left: 0 !important; right: 0;}
.slick-next {right: 0 !important;}
.slick-prev,
.slick-next { top: 100% !important;} 
.slick-prev:before, .slick-next:before {color: #101010 !important;}
.slick-initialized .slick-slide {margin: 0 16px;}
.reviewBox .slick-dots li.slick-active button:before {opacity: 1;}
.reviewBox .slick-dots li button:before { width: 8px; height: 8px; content: ''; background-color: #343434; border-radius: 50px; }
.reviewBox .slick-dots li {margin: 0 8px; width: auto;}
.reviewBox .slick-dots li button {width: auto; padding: 0;}


.reviewSlider .right.group,
.reviewSlider .left.group {width: 40px; 
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: #fff;
  outline: none;
  border: none;}
.reviewSlider .right.group {position: absolute; right: 8.5%; bottom: -107px; z-index: 1; border: none;display: flex !important; align-items: center; justify-content: center;}
.reviewSlider .left.group {position: absolute; right: 12%; bottom: -107px; z-index: 1;border: none; display: flex !important; align-items: center; justify-content: center;}
.reviewSlider .left.group svg,
.reviewSlider .right.group svg {stroke: #A1A1A1;}
.reviewSlider .left.group:hover svg,
.reviewSlider .right.group:hover svg {stroke: #000000;}
.reviewSlider button:not(:disabled) svg{opacity: 1 !important;}
.reviewSlider button:disabled svg{opacity: 0.5 !important;}


.videoGrp {margin: 120px 0;}
.videoGrp .container{max-width: 1406px; width: 1476px;}
.videoGrp .videoPlayer {}
.videoGrp .videoPlayer .videoWrapper {margin: 20px 0 80px; position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; display: flex; align-items: center; justify-content: center; max-width: 1839px; margin: 0 auto;}
.videoGrp .videoPlayer .videoWrapper .videoFrame {position: absolute; top: 0; width: 100%; height: 100%; z-index: 1; border-radius: 8px; overflow: hidden;}
.videoGrp .videoPlayer .videoWrapper .videoFrame img {width: 100%; height: 100%; object-fit: cover;
}
.video-blk {}
.video-blk iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.videoGrp .videoPlayer {}
.videoGrp .videoPlayer .videoWrapper {position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; display: flex; align-items: center; justify-content: center;}


.trailerText {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 10; display: flex; align-items: center; width: 100%; justify-content: center;}
/* .videoGrp .videoPlayer .videoWrapper .blueBtn {margin: 0 453px 0 311px;} */
.videoGrp .videoPlayer .videoWrapper .blueBtn a {color: var(--Primary-White, #FFF); font-family: "Inter Tight"; font-size: 14px; font-weight: 500; line-height: 16px; letter-spacing: 2.1px; text-transform: uppercase; text-decoration: none; border: 1px solid #FFF; border-radius: 100px; height: 60px; display: flex; justify-content: center; align-items: center; padding: 0 44px; transition: all ease-in-out 0.3s;}
.videoGrp .videoPlayer .videoWrapper .blueBtn a:hover{background-color: #0071E3; border-color: #0071E3;}

.videoGrp .videoPlayer .videoWrapper .blueBtn {padding: 0 350px;}
    .trailerText { padding: 0 30px;}
    .trailerText > * {flex-grow: 1; flex-basis: 0; width: 33.33%; }

.trailorSec p {color: var(--Primary-White, #FFF); margin: 0; font-family: "Inter Tight"; font-size: 14px; font-weight: 500; line-height: 16px; letter-spacing: 2.1px; text-transform: uppercase;}
.timerSec span {display: block; color: var(--Primary-White, #FFF); font-family: "Inter Tight";
font-size: 14px; font-style: normal; font-weight: 500; line-height: 16px; letter-spacing: 2.1px; text-transform: uppercase;}


.sucessWrap {padding: 155px 0 50px; height: 100vh;}
.sucessWrap .sucessDtl {position: relative; text-align: center;}
.sucessWrap .sucessDtl .sucessImg {max-width: 404px; padding-bottom: 80px; display: flex; justify-content: center; width: 100%; margin: 0 auto;}
.sucessWrap .sucessDtl .sucessImg img {width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;}
.sucessWrap .sucessDtl .sucessText {padding: 0 0 40px;}
.sucessWrap .sucessDtl .sucessText h2 {color: var(--Primary-Black, #101010); text-align: center;
font-family: "Inter Tight"; font-size: 48px; font-style: normal; font-weight: 600; line-height: 56px; padding-bottom: 10px;}
.sucessWrap .sucessDtl .sucessText p {color: #6F6F6F; text-align: center; font-family: "Inter Tight"; font-size: 20px; font-style: normal; font-weight: 400; line-height: 28px;}
.sucessWrap .sucessDtl .sucessText .btnbox {display: flex; justify-content: center; margin-top: 40px;}
.sucessWrap .sucessDtl .sucessText .btnbox a {border-radius: 100px; background: #0071E3; color: var(--Primary-White, #FFF); font-family: "Inter Tight"; font-size: 14px; font-style: normal; font-weight: 500; line-height: 16px; letter-spacing: 2.1px; text-transform: uppercase; display: flex; justify-content: center; align-items: center; height: 60px; padding: 0 44px; text-decoration: none;}
/* .sucessWrap .sucessDtl .backHome {margin-top: 40px;} */
.sucessWrap .sucessDtl .backHome p {color: #000; text-align: center; font-family: "Inter Tight";
font-size: 16px; font-style: normal; font-weight: 400; line-height: 28px; /* 175% */}
.sucessWrap .sucessDtl .backHome p a {color: var(--Primary-Blue, #005ABB); font-family: "Inter Tight"; font-size: 16px; font-style: normal; font-weight: 600; line-height: 24px; text-decoration-line: underline;}


.chekoutWrap {margin: 150px 0 100px; position: relative;}
.chekoutWrap .checkoutGrp {}
.chekoutWrap .checkoutGrp .checkoutForm {}
.chekoutWrap .checkoutGrp .checkoutForm .checkoutNav { border-bottom: 1px solid #BDBDBD; margin-bottom: 40px;}
.chekoutWrap .checkoutGrp .checkoutForm .checkoutNav ul {display: flex; gap: 34px; padding-bottom: 
10px;}
.chekoutWrap .checkoutGrp .checkoutForm .checkoutNav ul li {position: relative;}
.chekoutWrap .checkoutGrp .checkoutForm .checkoutNav ul li a::after{position: absolute; content: ''; right: -12px; top: 9px; background-image: url(../asset/images/v1.svg); width: 6px; height: 10px; background-repeat: no-repeat;}
.chekoutWrap .checkoutGrp .checkoutForm .checkoutNav ul .checkoutDirect a {font-weight: 500;} 
.chekoutWrap .checkoutGrp .checkoutForm .checkoutNav ul li:last-child a::after {display: none;}
.chekoutWrap .checkoutGrp .checkoutForm .checkoutNav ul li a {color: var(--primary-2-c-2-a-25, #2C2A25); font-size: 16px; font-style: normal; font-weight: 400; line-height: 140%; text-decoration: none; }
.checkoutBox .personalDtl {}
.checkoutBox .personalDtl .checkoutHead {padding-bottom: 40px;}
.checkoutBox .personalDtl .checkoutHead h2 {color: var(--Primary-Black, #101010); font-family: "Inter Tight"; font-size: 48px; font-weight: 600; line-height: 56px; /* 116.667% */}
.innerForm {margin-bottom: 60px;}
.innerForm .innerHead {margin-bottom: 40px;}
.innerForm .innerHead h4 {color: var(--Primary-Black, #101010); font-family: "Inter Tight";
font-size: 24px; font-weight: 600; line-height: 32px;}
.innerformDtl {}
.innerformDtl .contactInner { width: 100%;}
.innerformDtl .contactInner:not(:last-child){margin-bottom: 40px;}
.innerformDtl .contactInner input {width: 100%; border-bottom: 1px solid #7B7B7B; border-left: none; border-top: none; border-right: none; color: #000; padding-bottom: 8px; font-family: "Inter Tight"; font-size: 20px; font-weight: 400; line-height: 28px; letter-spacing: -0.4px;}
.innerformDtl .contactInner input::placeholder{color: var(--greys-200-lines, #A1A1A1); font-family: "Inter Tight"; font-size: 20px; font-weight: 400; line-height: 28px; letter-spacing: -0.4px;}
.innerformDtl .contactInner input:focus-visible{ outline: none;}

.titleBox {background: #F4F4F4; padding: 40px;}
.titleBox .orderInner {position: relative;}
.titleBox .orderInner .titleHead {padding: 0 0 40px;}
.titleBox .orderInner .titleHead h4 {color: var(--Primary-Black, #101010); font-family: "Inter Tight"; font-size: 24px; font-weight: 600; line-height: 32px;}

.titleBox .orderInner .orderBox { display: flex; gap: 20px; align-items: center; margin-bottom: 40px; border: 1px solid #000; padding: 10px 8px; border-radius: 4px;}
.titleBox .orderInner .orderBox .orderImg {width: 120px;display: flex; justify-content: center;align-items: center; background-color: #E2E2E2; height: 120px; margin: 10px 0} 
.titleBox .orderInner .orderBox .orderImg img {display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; object-fit: contain;}
.titleBox .orderInner .orderBox .orderDtl {position: relative; display: flex; justify-content: space-between;  align-items: flex-end;}

/* .titleBox .orderInner .orderBox { display: flex; gap: 20px; align-items: center; margin-bottom: 40px;}
.titleBox .orderInner .orderBox .orderImg {width: 120px; height: 120px; border: 1px solid #000; display: flex; justify-content: center;align-items: center;}
.titleBox .orderInner .orderBox .orderImg img {display: flex; justify-content: center; align-items: center; width: 100%; object-fit: contain;}
.titleBox .orderInner .orderBox .orderDtl {position: relative; display: flex; justify-content: space-between; gap: 32px; align-items: flex-end;} */

.titleBox .orderInner .orderBox .orderDtl ul {display: block; margin: 0; padding: 0;}
.titleBox .orderInner .orderBox .orderDtl ul li {color: #000; font-family: "Inter Tight";
font-size: 16px; font-weight: 400; line-height: 24px; padding-bottom: 5px; display: block;}
.titleBox .orderInner .orderBox .orderDtl ul .orderHead {color: var(--Primary-Black, #101010);
font-family: "Inter Tight"; font-size: 24px; font-weight: 600; line-height: 32px; padding-bottom: 8px;}
.editBtn {display: flex;}
.editBtn a {color: var(--Primary-Blue, #005ABB); font-family: "Inter Tight"; font-size: 16px;
font-weight: 600; line-height: 24px; text-decoration-line: underline;}

.totalDtl {}
.totalDtl .totalBox {}
.totalDtl .totalBox ul {display: block; margin: 0; padding: 0;}
.totalDtl .totalBox ul li {border-top: 1px solid #7B7B7B; padding: 10px 0 20px;}
.totalDtl .totalBox ul li p {display: flex; align-items: baseline;}
.totalDtl .totalBox ul li p span {color: #7B7B7B; font-family: "Inter Tight"; font-size: 12px; font-style: normal; font-weight: 400; line-height: 24px; display: block; margin-left: 5px; }

.totalDtl .totalBox ul li p {color: #000; font-family: "Inter Tight"; font-size: 16px;
font-weight: 400; line-height: 24px; /* 150% */}
.totalDtl .totalBox ul li span {display: block; margin: 0; color: #000; font-family: "Inter Tight";
font-size: 18px; font-weight: 400; line-height: 24px;}
.totalDtl .totalBox ul li .subHead {color: #000; font-family: "Inter Tight"; font-size: 16px; font-weight: 600; line-height: 24px; /* 150% */}
.totalDtl .totalBox ul li .totalRs {color: var(--Primary-Blue, #005ABB); font-family: "Inter Tight"; font-size: 24px; font-weight: 600; line-height: 32px;}
.btnCheckbox {margin-top: 142px;}
.btnCheckbox .checkbox_wrap {}
.btnCheckbox .checkbox_wrap label {display: flex; gap: 20px; align-items: center;}
.btnCheckbox .checkbox_wrap label span {color: #8C8C8C; font-family: "Inter Tight"; font-size: 16px;
font-weight: 400; line-height: 24px; letter-spacing: -0.2px; display: block;}
.btnCheckbox .checkbox_wrap label span a{color: #101010; font-family: "Inter Tight"; font-size: 16px; font-weight: 400; line-height: 24px; letter-spacing: -0.2px; text-decoration-line: underline;}
.proceedBtn {display: flex; justify-content: center; align-items: center; width: 100%; margin-top: 40px;}
.proceedBtn button {color: var(--Primary-White, #FFF); font-family: "Inter Tight"; font-size: 14px;
font-weight: 500; line-height: 16px; letter-spacing: 2.1px; text-transform: uppercase; display: flex; justify-content: center; align-items: center; height: 60px; background-color: #0071E3; transition: all ease-in-out 0.3s; padding: 0 185px; border-radius: 100px; text-decoration: none; border: none;}
.proceedBtn button:hover{background-color: #101010;} 
.input-group {width: 141px; border: 2px solid #000; border-radius: 50px;}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {text-align: center;}
.btn-outline-primary {outline: none !important; border-color: none !important;}
.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating), .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n+3), .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control, .input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select {border: none !important;}
.input-group .btn {border: none !important;}
.form-control:focus {box-shadow: none !important;}
.btn {color: #000 !important;}
.btn:hover {background-color: transparent !important; color: #000 !important;}
input[type="radio"]:checked + label:before {-webkit-transition: all .3s ease;
    transition: all .3s ease;
    border: #000;}
.btn-check:checked + .btn, :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active, .btn.show {background: transparent !important;}  
.btn:focus-visible {background-color: transparent !important; box-shadow: none !important;} 
/* PriceSec end */

.zoomer-wrap { position: relative; overflow: hidden; }
.zoomer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .zoomer .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .zoomer .wrapper .images {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /*transform: scale(0, 0);*/
    z-index: -1;
  }
  .zoomer .wrapper .images .clipper {
    position: relative;
    display: flex;
    flex-direction: column;
    transform: scale(0.465);
    /* width: 100vw;
    height: 100vh; */
    overflow: hidden;
  }
  .zoomer .wrapper .images .clipper img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    filter: brightness(70%);
  }
  .zoomer .text {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 90%;
  }
  .zoomer .text .clipper {
    display: flex;
    flex-direction: column;
  }
  .zoomer .text .clipper h2 {
    text-align: center;
  }
  
  .sticky-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .sticky-content .wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 90%;
  }
  .sticky-content .wrapper .text {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: calc(50%);
  }
  .sticky-content .wrapper .images {
    display: flex;
    flex-direction: row;
    width: calc(50%);
    height: auto;
  }
  .sticky-content .wrapper .images ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .sticky-content .wrapper .images ul li {
    display: flex;
    margin: 0;
    position: relative;
    height: 80vh;
    width: 100%;
    overflow: hidden;
  }
  .sticky-content .wrapper .images ul li img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  .sticky-content .wrapper .images ul li:not(:first-of-type) {
    margin-top: 5%;
  }
  .spacer {
    height: 100vh;
    background: grey;
  }
  
  .zoomer .images { position: relative; z-index: 1;}
  .zoomer .images img {border-radius: 12px;}
  .textwrap { width: 100vw; height: 100vh; position: absolute; left: 0; top: 0; display: flex; align-items: center; justify-content: center; z-index: 1;}
  .textwrap h2 { position: absolute; left: 30px; top: 0; font-size: 180px; color: white; margin: 250px 0 0 0; padding: 0;}
  .textwrap h2.heading2 { position: absolute; right: 30px; top: 0; font-size: 180px; color: white; margin: 365px 0 0 0; padding: 0; left: auto; }
  .textwrap .intextwrap { overflow: hidden; position: relative; max-width: 1376px; max-height: 688px; }
  .textwrap .inner_intextwrap { width: 100vw; height: 100vh; position: absolute; left: 50%; top: 50%; transform: translate(-50vw, -50vh); }
  
  .zoomer .textwrapout.text { width: 100%; height: 100%; display: block;}
  .zoomer .textwrapout.text .clipper { display: block;}
  .zoomer .textwrapout.text .clipper h2 { padding-left: 30px; text-align: left; font-size: 180px; color: #000000; margin: 250px 0 0 0; }
  /* .zoomer .textwrapout.text .clipper h2.heading2 { padding: 0 30px 0 0; text-align: right; font-size: 180px; color: #000000; margin: 0px 0 0 0; } */
  .zoomer .textwrapout.text .clipper h2.heading2 {     position: absolute; right: 30px; top: 0; font-size: 180px;
  color: #000000; margin: 365px 0 0 0; padding: 0; left: auto; }
  .zoomer .images { position: relative; z-index: 1; }
  .zoomer .btnbox { display: flex; align-items: center; justify-content: center; width: 100%; position: absolute; bottom: 24%;z-index: 1000; }

  
  .border-btn { display: flex; align-items: center; justify-content: center; border: 1px solid #ffffff; color: #ffffff; font-size: 14px; font-weight: 400; height: 60px; padding: 0 44px; border-radius: 100px; text-decoration: none; letter-spacing: 2.1px;}
.border-btn.blue-fill { border: none; background-color: #0071E3; }

/* powerstrip_text-main */
.powerstrip_text-main { height: 100vh; width: 100%; position: relative; padding: 0 32px; display: flex; align-items: center; justify-content: center; 
  margin-top: 50vh; background-color: #fff;
}
.powerstrip_text-main .text { position: absolute; z-index: 1; width: 100%; display: flex; align-items: center; flex-wrap: wrap; justify-content: center; }
.powerstrip_text-main .image { border-radius: 12px; overflow: hidden; transform: scale(1); }
.powerstrip_text-main .image ,
.powerstrip_text-main .image img{ width: 100%; }
.powerstrip_text-main .text .text-wrap { display: flex; flex-wrap: wrap; align-items: center; justify-content: center;
max-width: 640px; width: 100%; }
.powerstrip_text-main .text .text-wrap > span { width: 100%; }
.powerstrip_text-main .text .text-wrap span { display: flex; align-items: center; font-size: 180px;  }
.powerstrip_text-main .text .text-wrap span.white { color: #fff; }
.powerstrip_text-main .text .text-wrap span + span { display: flex; align-items: center; justify-content: flex-end; }
.powerstrip_text-main .btnbox { display: flex; align-items: center; justify-content: center; width: 100%; }
/* powerstrip_text-main */ 


/* DEV CSS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
/* DEV CSS */
/* features-sec */
.features-sec { position: relative; height: 100vh; width: 100%; background: linear-gradient(180deg, #101010 -10.69%, #FFF 170.25%); padding-bottom: 120px; }
.features-wrap { position: relative; height: 100vh; width: 100%; display: flex; justify-content: center; align-items: center; }
.featurs_class { opacity: 0; transform: translateY(100px); transition: opacity 0.5s, transform 0.5s; }
.features-sec .title { width: 100%; display: block; text-align: center; position: absolute; z-index: 1; top: 80px; }
.features-sec .title h2 { font-size: 180px; font-weight: 400;
  background-image:linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(16,16,16,.8) 100%); background-clip: text; color: transparent; -webkit-background-clip: text;}
.features-sec .imgbox { position: absolute; z-index: 2; bottom: 0; }

.features_text-wrap { width: 100%; position: absolute; margin: 0 auto; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; z-index: 3; height: 100%; }  
.features_text-wrap > div { width: 50%; }
.features_text-wrap .feture_box-title { color: var(--Greys-50, #F2F2F2); font-family: "Inter Tight";
font-size: 16px; font-weight: 500; line-height: 20px; letter-spacing: 2.4px; text-transform: uppercase; }
.features_text-wrap .feture_box-subtitle { color: var(--greys-100-body-text, #D6D6D6); font-family: "Inter Tight"; font-size: 14px; font-weight: 400; line-height: 20px; /* 142.857% */ }
.features_text-wrap .line { position: absolute; }

.feture_text_box-1 { position: absolute; max-width: 355px; top: 43%; left: 22.5%; }
.feture_text_box-1 .line { right: -30px; position: absolute; top: 10px; }

.feture_text_box-2 { position: absolute; max-width: 400px; top: 56%; left: 16.4%; }
.feture_text_box-2 .line { right: 0; position: absolute; top: 20px; }

.feture_text_box-3 { position: absolute; max-width: 426px; top: 39%; right: 1%; padding-left: 175px; }
.feture_text_box-3 .line { left: 0; position: absolute; top: 16px; transform: rotate(180deg); }

.feture_text_box-4 { position: absolute; max-width: 546px; top: 54%; right: 5%; padding-left: 210px; }
.feture_text_box-4 .line { left: 0; position: absolute; top: 16px; transform: rotate(180deg);  }

.feture_text_box-5 { position: absolute; max-width: 752px; top: 72%; right: 14%; padding-left: 405px; }
.feture_text_box-5 .line { left: 0; position: absolute; top: 16px; transform: rotate(180deg);  }

/* powerstrip-slider-main */
.powerstrip-slidersec-main { padding: 0 32px; background-color: #F2F2F2; border-radius: 12px;  height: 100vh; margin: 0 32px; display: flex; align-items: center; }
.powerstrip-slidersec-main-wrap { width: 100%; max-width: 1308px; margin: 0 auto; }
.powerstrip-slidersec-main .row { width: 100%; }
.powerstrip-slider-text h3 { font-size: 48px; font-weight: 600; color: #101010; }
.powerstrip-slider-text .btnbox { margin-top: 40px; display: flex; align-items: center; }

.powerstripslider { padding-left: 40px; height: 100%; }
.powerstripslider-uitis { display: flex; align-items: center; justify-content: space-between; width: 100%; margin-left: 67px; max-width: 647px; padding-top: 16px; }
.powerstripslider-btnbox { display: flex; align-items: center; justify-content: center; gap: 8px; }
.powerstripslider-btnbox button { width: 40px; height: 40px; display: flex; align-items: center; justify-content: center; border-radius: 100px; background-color: #fff; outline: none; border: none; }
.powerstripslider-btnbox button:hover { opacity: 0.7; }
.powerstripslider-dots { display: flex; align-items: center; justify-content: center; gap: 8px; }
.powerstripslider-dots span { width: 8px; height: 8px; border-radius: 100px; background-color: #D9D9D9; display: block; cursor: pointer; }
.powerstripslider-dots span.active { background-color: #101010; }

.powerstripslider-mainbox { position: relative; width: 100%; height: 430px;  }
.powerstripslider-mainbox .powerstrips-slide { position: absolute; border-radius: 8px; overflow: hidden;
  transform: translateX(0); top: 0; left: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;  }
.powerstripslider-mainbox .powerstrips-slide.client-1 {  z-index: 1;  transform: translate(0); }
.powerstripslider-mainbox .powerstrips-slide.client-2 { z-index: 2; transform: translate(32px,32px);}
.powerstripslider-mainbox .powerstrips-slide.active { z-index: 3;  
  transform: translate(64px,64px); }

  /* .swiper-slide-active  {opacity: 1;} 
  .priceSwiper {display: flex;}
  .mySwiper2 {width: 100px; display: flex; flex-direction: column; height: 100px;}
  .mySwiper2 .swiper-wrapper .swiper-slide {width: 100px !important; } */
/* powerstrip-slider-main */




.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #f4f4f4;
  border-radius: 8px;

  /* Center slide text vertically */
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: auto !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  min-height: 563px;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .swiper-slide {
  
  
  width: 100% !important;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  
}

.mySwiper .swiper-slide-thumb-active .thumbBox {border: 1px solid #005ABB;}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.swiper-free-mode > .swiper-wrapper {flex-direction: column; max-width: 100px; gap: 12px;}
.swiper-free-mode > .swiper-wrapper .swiper-slide img {width: 100%; border-radius: 4px; }
/* .swiper-free-mode > .swiper-wrapper { }
.swiper-free-mode > .swiper-wrapper .swiper-slide img {width: 100px; height: 100px;}
.priceSwiper {display: flex; gap: 12px;}
.secondSec .swiper-slide img {width: 752px; height: 563px;}  */
/* .pricefullImg .swiper-wrapper {height: auto;} */
.pricefullImg .swiper-slide {justify-content: center;}
.disable_arrow svg{opacity: 0.4; pointer-events: none;}

.css-16vukcu {border: none !important;}
.css-16vukcu:focus,
.css-16vukcu:focus-within {box-shadow: none !important;}
.css-16vukcu {padding: 0 !important;}
/* .react-dropdown-select-input {display: none !important;} */
.css-16vukcu {border-bottom: 1px solid #7B7B7B !important;}
.css-1m5113o  {width: 100%; border-left: none; border-top: none; border-right: none; color: #000; padding-bottom: 8px; font-family: "Inter Tight"; font-size: 20px; font-weight: 400;
  line-height: 28px; 
  letter-spacing: -0.4px;}
  .css-wmy1p7-ReactDropdownSelect {border-bottom: 1px solid #7B7B7B !important; padding: 0 !important; border-top: none !important; border-left: none !important; border-right: none !important;}  
  .css-wmy1p7-ReactDropdownSelect:focus, .css-wmy1p7-ReactDropdownSelect:focus-within {box-shadow: none !important;}

.errorMessage {color: red; margin-top: 5px;}

 input:-webkit-autofill,
 input:-webkit-autofill:hover, 
 input:-webkit-autofill:focus, 
 input:-webkit-autofill:active{
    /* -webkit-box-shadow: 0 0 0 30px white inset !important; */
    /* -webkit-text-fill-color: yellow !important; */

    box-shadow: inset 20px 20px 20px 30px #fff;
    -webkit-text-fill-color:  #A1A1A1;
}
.css-16po3ad {margin-left: 0 !important; font-size: 20px !important;}

.contactInnerselect {margin-bottom: 40px; }
/* .contactInnerselect span {width: 100%; border-left: none; border-top: none; border-right: none; color: #000; padding-bottom: 8px; font-family: "Inter Tight"; font-size: 20px; font-weight: 400;
  line-height: 28px; 
  letter-spacing: -0.4px;} */

  .css-jznujr-ContentComponent {font-size: 20px !important;}
  .css-187kexr-InputComponent {margin: 0 !important; font-size: 20px !important;}



  /* CSS LOADER  */
  .innerOverlay {overflow: hidden;}
  .loaderWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 113, 227, 0.3);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    pointer-events: none;  
  }
  .loader {
    width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #ddd;
  border-top-color: #0071E3;;
  animation: rotation 1s linear infinite;
  
    
    }

    .loaderActive {overflow: hidden;}

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
    
  /* CSS LOADER  */

  
  .invoiceWrap {max-width: 595px; margin: 200px auto; padding: 37px;}
  .invoiceWrap .firstHead {display: flex; justify-content: space-between; gap: 310px; padding-bottom: 25px;}
  .invoiceWrap .firstHead .invoiceAdd p {color: var(--primary-2-c-2-a-25, #2C2A25); font-family: "Inter Tight"; font-size: 10px; font-weight: 400;}
  .invoiceWrap .firstHead .invoiceAdd span {color: var(--primary-2-c-2-a-25, #2C2A25); font-family: "Inter Tight"; font-size: 10px; font-weight: 400; display: block;}
  .invoiceNumber {padding-bottom: 25px;}
  .invoiceNumber h2 {color: var(--primary-2-c-2-a-25, #2C2A25); font-family: "Inter Tight"; font-size: 16px; font-weight: 600; padding-bottom: 10px; margin: 0;}
  .invoiceNumber span {display: block; color: var(--primary-2-c-2-a-25, #2C2A25); font-family: "Inter Tight"; font-size: 10px; font-weight: 400; line-height: normal;}
  .customerDtl {padding-bottom: 25px;}
  .customerDtl h2 {color: var(--primary-2-c-2-a-25, #2C2A25); font-family: "Inter Tight"; font-size: 16px; font-weight: 600; padding-bottom: 10px; margin: 0;}
  .customerDtl ul {display: block;}
  .customerDtl ul li {color: var(--primary-2-c-2-a-25, #2C2A25); font-family: "Inter Tight";
  font-size: 10px; font-style: normal; font-weight: 400; line-height: 12px; /* 120% */}
  .customerDtl ul li span {color: var(--primary-4963-a-0, #4963A0);}
  .shippAdd {padding-bottom: 25px;}
  .shippAdd h2 {color: var(--primary-2-c-2-a-25, #2C2A25); font-family: "Inter Tight"; font-size: 16px; font-weight: 600; padding-bottom: 10px; margin: 0;}
  .shippAdd span {color: var(--primary-2-c-2-a-25, #2C2A25); font-family: "Inter Tight"; font-size: 10px; font-style: normal; font-weight: 400; display: block;}
  .listDtl {}
  .listDtl .row {display: flex;}
  .listDtl .row .listHead {display: flex; justify-content: space-between; border-radius: 2.5px 2.5px 0px 0px; background: #0071E3; padding: 12px 25px;}
  .listDtl .row .listHead  li {display: block; color: #FFF; font-family: "Inter Tight"; font-size: 10px; font-weight: 600; }
  .listDtl .row .listName {display: flex; justify-content: space-between; border-radius: 2.5px 2.5px 0px 0px; background: #F4F4F4; padding: 12px 25px;}
  .listDtl .row .listName li {color: var(--primary-2-c-2-a-25, #2C2A25); font-family: "Inter Tight";
  font-size: 10px; font-weight: 400; line-height: normal;}
  .listDtl .row .listName .proName {color: #0071E3;}
  .finalAmount {padding-top: 25px; display: flex; justify-content: flex-end;}
  .finalAmount ul {display: block;}
  .finalAmount ul li {display: flex; justify-content: space-between; width: 100%; gap: 100px;  padding: 9px 0;}
  .finalAmount ul li:not(:last-child) {border-bottom: 1px solid #7B7B7B;}
  .finalAmount ul li p {color: var(--primary-2-c-2-a-25, #2C2A25); text-align: right; font-family: "Inter Tight"; font-size: 10px; font-weight: 600; display: block; margin: 0;}
  .finalAmount ul li span {color: var(--primary-2-c-2-a-25, #2C2A25); text-align: right; font-family: "Inter Tight"; font-size: 10px; font-style: normal; font-weight: 400;display: block; margin: 0;}
  .finalAm ul {display: block;}
  .finalAm {display: flex; justify-content: flex-end;}
  .finalAm ul li {display: flex; justify-content: space-between; width: 100%; gap: 116px; border-top: 1px solid #7B7B7B; padding: 9px 0; margin-top: 10px; }
  .finalAm ul li p {color: var(--primary-2-c-2-a-25, #2C2A25); text-align: right; font-family: "Inter Tight"; font-size: 10px; font-weight: 600; display: block;}
  .finalAm ul li span {color: var(--primary-2-c-2-a-25, #2C2A25); text-align: right; font-family: "Inter Tight"; font-size: 10px; font-style: normal; font-weight: 400;display: block; } 

  .mobileSlider {display: none;}



  .legalWrap {padding: 200px 0 80px;}
  .legalWrap .legalText {}
  .legalWrap .legalText .legalTitle {padding: 80px 0;}
  .legalWrap .legalText .legalTitle h1 {color: var(--Primary-Black, #101010); text-align: center; font-family: "Inter Tight"; font-size: 64px; font-weight: 600; line-height: normal;}
  .legalNotice h2 {font-size: 54px; display: block;  color: #101010; font-family: "Inter Tight"; padding-bottom: 29px; margin: 0;}
  .legalNotice h3{font-size: 48px; display: block;  color: #101010; font-family: "Inter Tight"; padding-bottom: 29px; margin: 0; }
  .legalNotice h4 {font-size: 36px;display: block;  color: #101010; font-family: "Inter Tight"; padding-bottom: 29px; margin: 0; }
  .legalNotice h5 {font-size: 32px;display: block;  color: #101010; font-family: "Inter Tight"; padding-bottom: 29px; margin: 0;}
  .legalNotice h6{font-size: 28px;display: block;  color: #101010; font-family: "Inter Tight"; padding-bottom: 29px; margin: 0;}
  .legalNotice {padding: 60px 0 139px;display: block;  color: #101010; font-family: "Inter Tight"; padding-bottom: 29px; margin: 0;}
  .legalNotice p {font-size: 20px; color: #6F6F6F; font-family: "Inter Tight"; margin-bottom: 30px;}
  .legalNotice > * + h3 { margin-top: 80px;}