



/* @media (min-width:1920px){
    .container { width: 1824px; max-width: 1824px; margin: 0 auto;} 
    } */

@media (min-width: 1900px) {
    .features-sec .title { top: 140px; }
    .feture_text_box-1 { top: 48%; left: 31.5%; }
    .feture_text_box-2 { top: 64%; left: 23%; }
    .feture_text_box-3 { top: 48%; right: 13%; }
    .feture_text_box-4 { top: 62%; right: 16%; }
    .feture_text_box-5 { top: 77%; right: 21%; }

    .feture_text_box-2 .line { right: -20px; }
    .videoGrp .container{max-width: 1920px; margin: 0 auto;} 
}

@media (min-width: 1400px) and (max-width: 1440px) {

    .navigationBar .navWrap .container {max-width: 1408px;}
    .brackerwrap .brackerright {right: -80px;}
    .videoGrp .videoPlayer .videoWrapper .blueBtn {margin: 0 447px 0 300px;}
 }

@media (min-width: 1300px) and (max-width: 1399px) { 

    .brackerwrap .brackerleft {left: -160px;}
    .brackerwrap .brackerright {right: -160px;}
    .videoGrp .container {width: 100%;}
    .videoGrp .videoPlayer .videoWrapper .blueBtn {margin: 0 447px 0 220px;}
    .feture_text_box-1 {left: 23.5%;}
    .feture_text_box-2 {left: 16.4%;}
    .feture_text_box-2 .line {right: 30px;}
    .feture_text_box-4 {right: 0; top: 60%;}
    .feture_text_box-3 {top: 37%;}
    .proceedBtn button {padding: 0 100px;}
 
 }


@media (min-width: 1200px) and (max-width: 1299px) {
 
    .swiper-slide {justify-content: flex-start;}
    .swiper-free-mode > .swiper-wrapper .swiper-slide img{width: 70px;}
    .thumbBox {justify-content: flex-start;}
    .videoGrp .container{width: 100%;}
    .trailerText {padding: 0 15px;}
    .videoGrp .videoPlayer .videoWrapper .blueBtn {margin-left: 185px; margin-right: 395px;}
    .powerstripslider {padding-left: 0;}
    .powerstrip-slidersec-main {padding: 0 10px;}
    .brackerwrap .brackerleft {left: -160px;}
    .brackerwrap .brackerright {right: -160px;}
    .feture_text_box-1 {left: 19.5%; top: 48%;}
    .feture_text_box-2 {left: 13.5%;}
    .feture_text_box-2 .line {right: 35px;}
    .feture_text_box-3 {top: 50%;}
    .feture_text_box-4 {top: 70%;}
    .feture_text_box-5 {top: 78%; right: 16%;}
    .feture_text_box-5 .line {left: -15px;}
    .proceedBtn button {padding: 0 100px;}
}

 
@media (min-width: 992px) and (max-width: 1199px) {
 
    .navigationBar .navWrap .navInner > ul > li a {padding: 0;}
    .brackerwrap .brackerleft img {height: 100%;}
    .brackerwrap .brackerright img {height: 100%;}
    .productDetail > ul > li .value {font-size: 20px;}
    .videoGrp .container {width: 100%;}
    .videoGrp .videoPlayer .videoWrapper .blueBtn {margin: 0 254px 0 98px;}
    .benefitsecBox .row {row-gap: 40px;}
    .powerstrip-slidersec-main .row {justify-content: space-evenly !important;}
    .powerstripslider-mainbox .powerstrips-slide img { width: 100%;}
    .powerstrip-slider-text h3 {font-size: 35px;}
    .powerstripslider-uitis {padding-left: 0;}
    .powerstrip-slidersec-main {} 
    .stripWrap {margin: 80px 0;}
    .reviewSlider .left.group {right: 14%;}
    .insightWrap .boxImage {height: 100%; min-height: 198px;} 
    .insightWrap .insightSec .insightBox .boxText {padding: 24px 20px;}
    .insightWrap {margin: 80px 0;}
    
    .questionWrap {margin: 80px 0;}
    .zoomer .images img {width: 100%;}
    .textwrap h2 {font-size: 140px;}
    .textwrap h2.heading2 {font-size: 140px;}
    .zoomer .textwrapout.text .clipper h2 {font-size: 140px;}
    .zoomer .textwrapout.text .clipper h2.heading2 {font-size: 140px;}
    .feture_text_box-1 .line {right: 106px;}
    .feture_text_box-1 {top: 48%;}
    .feture_text_box-2 {left: 11.4%; top: 58%;}
    .feture_text_box-2 .line {right: 30px;}
    .feture_text_box-3 {top: 61%; right: 0;}
    .feture_text_box-4 {top: 69%; right: 0;}
    .feture_text_box-5 {top: 77%; right: 18%;}
    .buyNow .buybtn {padding: 0 90px;}
    .proceedBtn button {padding: 0 100px;}
 
}

@media (max-width: 991px) { 
 
}
 
@media (min-width: 768px) and (max-width: 991px) { 

    .brackerdtl h1 {font-size: 40px;}
    .brackerwrap .brackerleft img {height: 100%;}
    .brackerwrap .brackerright img {height: 100%;}
    .zoomer-wrap {display: none;}
    .mobileText {margin: 80px 0; display: block;}
    .mobileGrp {position: relative;}
    .mobileGrp .mobileImg {}
    .mobileGrp .mobileImg img {width: 100%; height: 100%; border-radius: 8px;}
    .psText {position: absolute; top: 0; left: 0; display: flex; align-items: center; justify-content: center; z-index: 1; width: 100%;}
    .psText h2 {position: absolute; left: 40px; top: 80px; color: var(--Primary-White, #FFF); font-family: "Inter Tight"; font-size: 120px; font-weight: 500; line-height: 72px; margin: 0;}
    .psText h2.heading2 {position: absolute; left: auto; bottom: 180px; right: 40px; margin: 100px 0 0 0;}
    .priceImg {margin: 80px 0;}
    .priceList {margin-top: 40px; max-width: 100%;}
    .priceList {font-size: 16px; line-height: 24px;}
    .productDetail > ul > li .title {font-size: 12px;}
    .productDetail > ul > li .value {font-size: 16px; line-height: 24px;}
    .productDetail > ul {justify-content: space-between;}
    
    .videoGrp {margin: 80px 0;}
    .videoGrp .container {width: 100%;}
    .trailorSec p {font-size: 10px;}
    .timerSec span {font-size: 10px;}
    .videoGrp .videoPlayer .videoWrapper .blueBtn a {font-size: 10px; height: 40px; padding: 0 20px;}
    .trailerText {justify-content: space-between; padding: 0 30px;}
    .videoGrp .videoPlayer .videoWrapper .blueBtn {display: none;}
    .benefitWrap {margin: 80px 0;}
    .benefitHead h3 {font-size: 120px;}
    .benefitsecBox {margin-top: -50px;}
    .benefitsecBox .row {row-gap: 40px;}
    .stripWrap {margin: 80px 0;}
    .powerstrip-slidersec-main .row {justify-content: space-evenly !important;}
    .powerstripslider {padding-left: 80px;}
    .powerstripslider-mainbox {height: 250px;}
    .powerstripslider-uitis {margin-left: 30px;}
    .reviewBox {padding-top: 80px; padding-bottom: 80px;}
    .reviewBox .reviewSlider {margin-top: -50px;}
    .reviewSlider .left.group {right: 16%;}
    .reviewSlider .right.group,
    .reviewSlider .left.group {bottom: 0;}
    .slick-dots {bottom: 0 !important; left: 40px;}
    .insightWrap {margin: 80px 0;}
    .insightWrap .boxImage {min-height: 100%;}
    .insightWrap .insightSec .insightBox .boxText {padding: 24px 20px;}
    .questionWrap {margin: 80px 0;}
    .navigationBar .navWrap .navInner > ul {display: none;}
    .navigationBar .navWrap .navBar {padding: 15px 20px;}
    .powerstrip-slidersec-main {padding: 0 30px;}
    .powerstripslider-mainbox .powerstrips-slide img {width: 100%; height: 100%;}
    .powerstripslider-mainbox .powerstrips-slide {max-width: 314px;}
    .powerstrip-slider-text h3 {font-size: 35px;}
    .feture_text_box-1 {left: 4.5%;}
    .feture_text_box-2 {top: 50%; left: 30px;}
    .feture_text_box-3 {top: 57%; right: 3%; padding-left: 160px; max-width: 300px;}
    .feture_text_box-4 {top: 71%; right: 2%; padding-left: 115px;}
    .feture_text_box-5 {top: 80%; padding-left: 268px; right: 10%;}
    .feture_text_box-4 .line {left: -115px; top: 18px;}
    .feture_text_box-5 .line {transform: rotate(192deg);left: -122px;}
    .features-wrap .imgbox img {width: 100%;}
    .feture_text_box-2 .line {right: 93px; top: 45px;}
    .features-sec .title h2 {font-size: 120px;}
    .proceedBtn button {padding: 0 100px;}
    
}


 
 

@media (max-width: 767px) {

    .navigationBar .navWrap .navInner > ul {display: none;}
    .benefitHead h3 {font-size: 68px;} 
    .benefitsecBox {margin-top: -25px;}
    .benefitBox {margin-bottom: 30px; padding: 20px;}
    .features-sec {display: none;}
    .navigationBar .navWrap .navBtn > ul li:first-child{display: none;}
    .navigationBar .navWrap .navBar {padding: 18px 16px;}
    .brackerdtl h1 {font-size: 48px; padding-bottom: 20px;}
    .brackerwrap .brackerInner {padding-top: 80px;}
    .brackerwrap .brackerleft img {height: 100%;}
    .brackerwrap .brackerright img {height: 100%;}
    .brackerwrap .brackerleft {left: -50px;}
    .zoomer-wrap {display: none;}
    .mobileText {margin: 80px 0; display: block;}
    .mobileGrp {position: relative;}
    .mobileGrp .mobileImg {}
    .mobileGrp .mobileImg img {width: 100%; height: 100%; border-radius: 8px;}
    .psText {position: absolute; top: 0; left: 0; display: flex; align-items: center; justify-content: center; z-index: 1; width: 100%;}
    .psText h2 {position: absolute; left: 9px; top: 18px; color: var(--Primary-White, #FFF); font-family: "Inter Tight"; font-size: 68px; font-weight: 500; line-height: 72px; margin: 0;}
    .psText h2.heading2 {position: absolute; left: auto; bottom: 18px; right: 9px; margin: 65px 0 0 0;}
    .priceImg {margin: 80px 0;}
    .productDetail > ul {flex-direction: column;}
    .productDetail > ul > li:not(:first-child) {border-top: 1px solid #d6d6d6;}
    .productDetail > ul > li:first-child{padding-top: 0;}
    .productDetail > ul > li{padding: 20px 0;}
    .productDetail {margin-top: 40px;}
    .videoGrp .container {max-width: 100%; width: 100%;}
    .videoGrp {margin: 80px 0;}
    .videoGrp .videoPlayer .videoWrapper .blueBtn {display: none;}
    .trailorSec p {font-size: 10px;}
    .timerSec span {font-size: 10px;}
    .trailerText {justify-content: space-evenly;}
    .stripWrap {margin: 80px 0;}
    .benefitWrap {margin: 80px 0;}
    .benefitBox .benefitImg {max-width: 80px;}
    .benefitBox .benefitText .lebalText {font-size: 12px; padding-bottom: 10px;}
    .benefitBox .benefitText h5 {font-size: 16px; line-height: 18px;}
    .benefitBox .benefitText {padding-bottom: 20px;}
    .benefitsecBox .row{row-gap: 20px;}
    .powerstrip-slider-text h3{font-size: 32px; margin: 0;}
    .powerstripslider-mainbox .powerstrips-slide {max-width: 314px;}
    .powerstripslider-mainbox .powerstrips-slide img {width: 100%; height: 100%;}
    .powerstripslider-mainbox {height: 209px;}
    .powerstripslider {padding-left: 0;}
    .powerstripslider-mainbox .powerstrips-slide.client-2 {transform: translate(20px, 20px);}
    .powerstripslider-mainbox .powerstrips-slide.active {transform: translate(40px, 40px);}
    .powerstripslider-uitis {padding-top: 55px; margin-left: 0;}
    .powerstrip-slidersec-main {padding: 0 16px; margin: 0; border-radius: 0; height: 100%; padding: 80px 16px;}
    .powerstrip-slidersec-main .row {row-gap: 40px;}
    .stripHead h3 {font-size: 32px; margin: 0; line-height: 40px;}
    .reviewBox {padding: 80px 0 160px;}
    .reviewBox .reviewSlider {margin-top: -25px;}
    .insightWrap {margin: 80px 0;}
    .insightWrap .insightSec .insightHead h3 {font-size: 32px; margin: 0;}
    .insightWrap .boxImage {min-height: 100%;}
    .insightWrap .insightSec .insightBox .boxText {padding: 24px 20px;}
    .insightWrap .insightSec .insightBox .boxText h5 {font-size: 18px; line-height: 26px; margin-bottom: 24px;}
    .insightWrap .insightSec .row {row-gap: 40px;}
    .questionWrap {margin: 80px 0;}
    .questionWrap .accordianWrap .accordianHead h3 {font-size: 32px; line-height: 40px;}
    .questionWrap .accordianWrap .accordianHead {margin-bottom: 40px;}
    .accordion-button{padding: 20px; font-size: 18px; line-height: 26px;} 
    .accordion-button::before {right: 31px;}
    .accordion-body {font-size: 16px; padding: 0 20px 20px 20px;}
    .brackerwrap .brackerright {right: -110px;}
    .slick-initialized .slick-slide {margin: 0;padding: 0 16px;}
    .slick-dots {left: 10px;}
    .reviewSlider .left.group {right: 25%;}
    .stripImg .stripBox img {height: 100%;}
    .stripImg .stripBox {min-height: 162px;}
    .stripImg .stripText span {font-size: 18px;}
    .priceWrapper .row .col-md-2{order: 2;} 
    .priceWrapper .row .col-md-10{order: 1;}
    .priceWrapper .row .col-md-12{order: 3;}
    .pricefullImg {height: 100%; min-height: 100%; }
    .swiper-slide {border-radius: 8px;}    
    .swiper-free-mode > .swiper-wrapper {flex-direction: row; margin: 0 !important;} 
    .thumbBox {width: 70px; height: 70px; border-radius: 8px;}
    .priceSwiper {margin-top: 17px;}
    .switer_btn {display: none;}
    .priceList {padding-top: 40px;}
    .titleBox .orderInner .orderBox {flex-direction: column;}
    .proceedBtn button {padding: 0 100px;}
    .swiper-free-mode > .swiper-wrapper .swiper-slide img {width: 70px;}
    .mySwiper .swiper-slide {width: 75% !important; margin-right: 5px !important;}
    .footerNav .footerBar .footerSec {flex-wrap: wrap; justify-content: center; align-items: center; padding: 15px 20px;}
    .footerBar .footerSec .socialLink {order: 1; width: 100%; justify-content: center; align-items: center; display: flex; margin-bottom: 13px; padding-bottom: 13px; border-bottom: 1px solid #343434;}
    .footerBar .footerSec .nameSec {order: 2; margin-right: 42px;}
    .footerBar .footerSec .webLink {order: 3; margin-left: 42px;}
    .mobileSlider {display: block;}

    .mobileSlider {background: linear-gradient(180deg, #101010 -10.69%, #FFF 170.25%); padding-top: 80px; overflow: hidden;}
    .mobileSlider .mobileFuture {position: relative; }
    .mobileSlider .mobileFuture .mobileTitle {}
    .mobileSlider .mobileFuture .mobileTitle h2 {background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(16, 16, 16, .8) 100%);; text-align: center; font-family: "Inter Tight"; font-size: 68px; font-weight: 500; line-height: 72px; color: transparent; -webkit-background-clip: text;}
    .mobileImgBox {padding-top: 60px; padding-left: 65px;}
    .mobileGrp {}
    .textBoxgrp {position: relative;}
    .textBoxgrp .lineBox1 {position: absolute; left: 0; top: 0;}
    .textOne {position: absolute; left: 25px; top: 0; }
    .textOne h3{color: var(--Greys-50, #F2F2F2); font-family: "Inter Tight"; font-size: 14px; font-weight: 500; line-height: 18px; letter-spacing: 2.1px; text-transform: uppercase;}
    .textOne span {color: var(--greys-100-body-text, #D6D6D6); font-family: "Inter Tight"; font-size: 12px; display: block; font-weight: 400; line-height: 18px;}

    
    .textTwo h3 {color: var(--Greys-50, #F2F2F2); font-family: "Inter Tight"; font-size: 14px; font-weight: 500; line-height: 18px; letter-spacing: 2.1px; text-transform: uppercase;}
    .textTwo span {color: var(--greys-100-body-text, #D6D6D6); font-family: "Inter Tight"; font-size: 12px; display: block; font-weight: 400; line-height: 18px;}
    .textTwo {position: absolute; left: 50px; top: 0;}
    .lineBox2 {position: absolute; top: 0; left: -18px; transform: rotate(9deg);}
    .sliderWrap {}
    .textThree {position: absolute; left: 50px; top: 0;}
    .textThree h3 {color: var(--Greys-50, #F2F2F2); font-family: "Inter Tight"; font-size: 14px; font-weight: 500; line-height: 18px; letter-spacing: 2.1px; text-transform: uppercase;}
    .textThree span {color: var(--greys-100-body-text, #D6D6D6); font-family: "Inter Tight"; font-size: 12px; display: block; font-weight: 400; line-height: 18px;}
    .lineBox3 {position: absolute; top: 0; left: 20px;}
    .textfour {position: absolute; left: 50px; top: 0;}
    .textfour h3 {color: var(--Greys-50, #F2F2F2); font-family: "Inter Tight"; font-size: 14px; font-weight: 500; line-height: 18px; letter-spacing: 2.1px; text-transform: uppercase;}
    .textfour span {color: var(--greys-100-body-text, #D6D6D6); font-family: "Inter Tight"; font-size: 12px; display: block; font-weight: 400; line-height: 18px;}
    .lineBox4 {position: absolute; top: 0; left: 20px;}
    .textFive {position: absolute; left: 50px; top: 0;}
    .textFive h3 {color: var(--Greys-50, #F2F2F2); font-family: "Inter Tight"; font-size: 14px; font-weight: 500; line-height: 18px; letter-spacing: 2.1px; text-transform: uppercase;}
    .textFive span {color: var(--greys-100-body-text, #D6D6D6); font-family: "Inter Tight"; font-size: 12px; display: block; font-weight: 400; line-height: 18px;}
    .lineBox5 {position: absolute; left: -10px; top: 0; transform: rotate(8deg);}
    
    .mobileSlider .right.group,
    .mobileSlider .left.group {background-color: #FFF; width: 40px; height: 40px; border-radius: 50px;}
    .mobileSlider .right.group {position: absolute; right: 9%; bottom: 40px; z-index: 1; border: none;}
    .mobileSlider .left.group {position: absolute; right: 22%; bottom: 40px; z-index: 1;border: none;}
    .mobileSlider .left.group svg,
    .mobileSlider .right.group svg {stroke: #A1A1A1;}
    .mobileSlider .left.group:hover svg,
    .mobileSlider .right.group:hover svg {stroke: #000000;}

    .mobileSlider .slick-dots {bottom: 50px !important;}
    .mobileSlider .slick-dots li button {background-color: #D9D9D9; width: 8px; height: 8px; border-radius: 50px;}
    .mobileSlider .slick-dots li button:before {width: 10px; height: 10px; content: ''; background-color: #343434; border-radius: 50px;}
    .mobileSlider .slick-dots li {width: 8px; height: 8px;}
    .mobileSlider .slick-dots li.slick-active button:before{opacity: 1;}
    
    
    
    

 
 }


 
 


@media (min-width: 568px) and (max-width: 767px) { } 
@media (min-width: 240px) and (max-width: 567px) { } 